In [1]:
from utils import *
from heuristique_glouton import *

In [2]:
df_ville,df_object,capacity=parse_ttp_file("a280_n1395_uncorr-similar-weights_05.ttp")

In [3]:
df_ville

       X    Y
1    288  149
2    288  129
3    270  133
4    256  141
5    256  157
..   ...  ...
276  236  145
277  246  141
278  252  125
279  260  129
280  280  133

[280 rows x 2 columns]

In [4]:
df_object

      Profit  Weight  City_Index
1          1    1008           2
2        896    1006           3
3        367    1006           4
4        690    1001           5
5        613    1006           6
...      ...     ...         ...
1391     882    1007         276
1392     755    1002         277
1393     486    1009         278
1394     485    1008         279
1395     721    1000         280

[1395 rows x 3 columns]

In [5]:
pi,obj_pris,poids_tot,dict_ville_objet_pris=algo_glouton(df_ville,df_object,capacity)

In [6]:
def eval_non_lin(pi,df_ville,df_object,dict_ville_objet_pris):
    v_max=1
    v_min=0.1
    w=(v_max-v_min)/capacity
    benefice=0
    for i in range(len(list(df_object.index))):
        benefice=benefice+df_object.iloc[i]["Profit"]*obj_pris[i]

    cout=0
    poids=0
    for i in range(1,len(pi)):
        distance=calcul_distance_de_ville(pi[i-1],df_ville)[pi[i]]
        cout=cout+distance/(v_max-poids*w)
        list_objet_i_pris=dict_ville_objet_pris[pi[i]]
        for index in list_objet_i_pris:
            poids=poids+df_object.iloc[index-1]["Weight"]

    distance=calcul_distance_de_ville(pi[-1],df_ville)[1]

    cout=cout+distance/(v_max-poids*w)


    return benefice-cout

In [7]:
eval_non_lin(pi,df_ville,df_object,dict_ville_objet_pris)

459875.09188327176

In [8]:
def eval_lin(pi,df_ville,df_object,dict_ville_objet_pris):
    benefice=0
    for i in range(len(list(df_object.index))):
        benefice=benefice+df_object.iloc[i]["Profit"]*obj_pris[i]

    cout=0
    poids=0
    for i in range(1,len(pi)):
        distance=calcul_distance_de_ville(pi[i-1],df_ville)[pi[i]]
        cout=cout+distance*poids
        list_objet_i_pris=dict_ville_objet_pris[pi[i]]
        for index in list_objet_i_pris:
            poids=poids+df_object.iloc[index-1]["Weight"]

    distance=calcul_distance_de_ville(pi[-1],df_ville)[1]

    cout=cout+distance*poids


    return benefice-cout

In [9]:
eval_lin(pi,df_ville,df_object,dict_ville_objet_pris)

-838559416.8966159