In [1]:
from utils import *
from heuristique_glouton import *

In [2]:
df_ville,df_object,capacity=parse_ttp_file("a280_n1395_uncorr-similar-weights_05.ttp")

In [3]:
df_ville

       X    Y
1    288  149
2    288  129
3    270  133
4    256  141
5    256  157
..   ...  ...
276  236  145
277  246  141
278  252  125
279  260  129
280  280  133

[280 rows x 2 columns]

In [4]:
df_object

      Profit  Weight  City_Index
1          1    1008           2
2        896    1006           3
3        367    1006           4
4        690    1001           5
5        613    1006           6
...      ...     ...         ...
1391     882    1007         276
1392     755    1002         277
1393     486    1009         278
1394     485    1008         279
1395     721    1000         280

[1395 rows x 3 columns]

In [5]:
pi,obj_pris,poids_tot,dict_ville_objet_pris=algo_glouton(df_ville,df_object,capacity)

In [10]:
pi

[1,
 40,
 89,
 183,
 253,
 256,
 249,
 248,
 242,
 243,
 245,
 246,
 237,
 236,
 235,
 234,
 233,
 232,
 231,
 238,
 239,
 240,
 241,
 244,
 247,
 250,
 251,
 230,
 229,
 228,
 227,
 226,
 225,
 224,
 223,
 219,
 222,
 221,
 220,
 217,
 218,
 215,
 212,
 210,
 211,
 214,
 213,
 216,
 199,
 144,
 143,
 193,
 192,
 191,
 190,
 188,
 189,
 186,
 187,
 185,
 184,
 107,
 174,
 99,
 100,
 101,
 102,
 103,
 110,
 111,
 69,
 68,
 64,
 85,
 87,
 84,
 76,
 79,
 78,
 77,
 75,
 74,
 73,
 72,
 71,
 70,
 67,
 66,
 65,
 86,
 116,
 62,
 63,
 58,
 59,
 30,
 19,
 20,
 129,
 154,
 155,
 153,
 156,
 152,
 151,
 179,
 180,
 182,
 181,
 176,
 177,
 178,
 150,
 267,
 137,
 270,
 134,
 135,
 136,
 268,
 269,
 262,
 263,
 264,
 265,
 266,
 138,
 149,
 148,
 139,
 140,
 141,
 142,
 147,
 146,
 145,
 200,
 196,
 195,
 194,
 197,
 198,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 252,
 255,
 254,
 257,
 258,
 259,
 261,
 260,
 6,
 5,
 9,
 7,
 8,
 10,
 11,
 15,
 12,
 13,
 14,
 24,
 23,
 25,
 22,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 44,
 45,
 46,
 47,
 48,
 38,
 37,
 36,
 35,
 39,
 41,
 42,
 43,
 60,
 61,
 118,
 117,
 115,
 114,
 113,
 112,
 88,
 83,
 82,
 81,
 80,
 94,
 95,
 96,
 97,
 98,
 93,
 92,
 91,
 90,
 109,
 108,
 104,
 105,
 106,
 173,
 172,
 171,
 170,
 169,
 168,
 167,
 166,
 165,
 164,
 163,
 162,
 161,
 175,
 160,
 159,
 158,
 157,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 21,
 130,
 131,
 132,
 133,
 18,
 17,
 16,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 4,
 278,
 279,
 3,
 280,
 2]

In [6]:
def eval_non_lin(pi,df_ville,df_object,dict_ville_objet_pris):
    v_max=1
    v_min=0.1
    w=(v_max-v_min)/capacity
    benefice=0
    for i in range(len(list(df_object.index))):
        benefice=benefice+df_object.iloc[i]["Profit"]*obj_pris[i]

    cout=0
    poids=0
    for i in range(1,len(pi)):
        distance=calcul_distance_de_ville(pi[i-1],df_ville)[pi[i]]
        cout=cout+distance/(v_max-poids*w)
        list_objet_i_pris=dict_ville_objet_pris[pi[i]]
        for index in list_objet_i_pris:
            poids=poids+df_object.iloc[index-1]["Weight"]

    distance=calcul_distance_de_ville(pi[-1],df_ville)[1]

    cout=cout+distance/(v_max-poids*w)


    return benefice-cout

In [7]:
eval_non_lin(pi,df_ville,df_object,dict_ville_objet_pris)

459643.0574030754

In [8]:
def eval_lin(pi,df_ville,df_object,dict_ville_objet_pris):
    benefice=0
    for i in range(len(list(df_object.index))):
        benefice=benefice+df_object.iloc[i]["Profit"]*obj_pris[i]

    cout=0
    poids=0
    for i in range(1,len(pi)):
        distance=calcul_distance_de_ville(pi[i-1],df_ville)[pi[i]]
        cout=cout+distance*poids
        list_objet_i_pris=dict_ville_objet_pris[pi[i]]
        for index in list_objet_i_pris:
            poids=poids+df_object.iloc[index-1]["Weight"]

    distance=calcul_distance_de_ville(pi[-1],df_ville)[1]

    cout=cout+distance*poids


    return benefice-cout

In [9]:
eval_lin(pi,df_ville,df_object,dict_ville_objet_pris)

-838559416.8966159