In [1]:
from utils import *
from heuristique_glouton import *

In [2]:
df_ville,df_object,capacity=parse_ttp_file("a280_n279_bounded-strongly-corr_01.ttp")

In [3]:
df_ville

       X    Y
1    288  149
2    288  129
3    270  133
4    256  141
5    256  157
..   ...  ...
276  236  145
277  246  141
278  252  125
279  260  129
280  280  133

[280 rows x 2 columns]

In [4]:
df_object

     Profit  Weight  City_Index
1       101       1           2
2       202       2           3
3       404       4           4
4       202       2           5
5       996     896           6
..      ...     ...         ...
275     786     686         276
276    1572    1372         277
277     786     686         278
278     566     466         279
279     456     356         280

[279 rows x 3 columns]

In [5]:
pi,obj_pris,poids_tot,dict_ville_objet_pris=algo_glouton(df_ville,df_object,capacity)

Loading:  91%|█████████▏| 23724/25936 [00:04<00:00, 5204.38weight unit/s, Current Weight=23724, Nb_ville=34]

In [6]:
pi

[1,
 242,
 243,
 280,
 278,
 279,
 6,
 277,
 276,
 59,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 57,
 58,
 68,
 69,
 77,
 78,
 186,
 175,
 172,
 171,
 170,
 169,
 168,
 167,
 166,
 165,
 164,
 163,
 162,
 161,
 174,
 173,
 105,
 106,
 107,
 113,
 87,
 84,
 85,
 86,
 116,
 62,
 63,
 64,
 65,
 66,
 67,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 79,
 80,
 81,
 82,
 83,
 88,
 112,
 109,
 89,
 90,
 91,
 92,
 97,
 96,
 95,
 94,
 93,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 108,
 110,
 111,
 114,
 115,
 117,
 118,
 61,
 60,
 43,
 42,
 41,
 40,
 39,
 37,
 38,
 35,
 36,
 33,
 34,
 124,
 123,
 122,
 121,
 120,
 119,
 157,
 158,
 159,
 160,
 180,
 179,
 178,
 150,
 149,
 265,
 218,
 219,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 251,
 250,
 245,
 246,
 237,
 236,
 235,
 234,
 233,
 232,
 231,
 238,
 239,
 240,
 241,
 244,
 247,
 248,
 249,
 256,
 255,
 252,
 253,
 254,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 269,
 135,
 134,
 270,
 15,
 16,
 271,
 272,
 273,
 274,
 275,
 9,
 7,
 8,
 10,
 11,
 12,
 13,
 14,
 24,
 23,
 25,
 22,
 26,
 27,
 28,
 29,
 32,
 31,
 30,
 125,
 126,
 127,
 130,
 131,
 132,
 133,
 17,
 18,
 19,
 20,
 21,
 128,
 129,
 154,
 155,
 153,
 156,
 152,
 151,
 177,
 176,
 181,
 182,
 183,
 184,
 185,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 196,
 195,
 194,
 197,
 198,
 199,
 145,
 146,
 147,
 148,
 139,
 138,
 137,
 136,
 268,
 267,
 266,
 140,
 141,
 142,
 143,
 144,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 220,
 221,
 222,
 5,
 4,
 3,
 2]

In [7]:
def eval_non_lin(pi,df_ville,df_object,dict_ville_objet_pris):
    v_max=1
    v_min=0.1
    w=(v_max-v_min)/capacity
    benefice=0
    for i in range(len(list(df_object.index))):
        benefice=benefice+df_object.iloc[i]["Profit"]*obj_pris[i]

    cout=0
    poids=0
    for i in range(1,len(pi)):
        distance=calcul_distance_de_ville(pi[i-1],df_ville)[pi[i]]
        cout=cout+distance/(v_max-poids*w)
        list_objet_i_pris=dict_ville_objet_pris[pi[i]]
        for index in list_objet_i_pris:
            poids=poids+df_object.iloc[index-1]["Weight"]

    distance=calcul_distance_de_ville(pi[-1],df_ville)[1]

    cout=cout+distance/(v_max-poids*w)


    return benefice-cout

In [8]:
eval_non_lin(pi,df_ville,df_object,dict_ville_objet_pris)

25540.73187057108

In [9]:
def eval_lin(pi,df_ville,df_object,dict_ville_objet_pris):
    benefice=0
    for i in range(len(list(df_object.index))):
        benefice=benefice+df_object.iloc[i]["Profit"]*obj_pris[i]

    cout=0
    poids=0
    for i in range(1,len(pi)):
        distance=calcul_distance_de_ville(pi[i-1],df_ville)[pi[i]]
        cout=cout+distance*poids
        list_objet_i_pris=dict_ville_objet_pris[pi[i]]
        for index in list_objet_i_pris:
            poids=poids+df_object.iloc[index-1]["Weight"]

    distance=calcul_distance_de_ville(pi[-1],df_ville)[1]

    cout=cout+distance*poids


    return benefice-cout

In [10]:
eval_lin(pi,df_ville,df_object,dict_ville_objet_pris)

-8693357.568017174