In [1]:
from utils import *
from heuristique_glouton import *

In [2]:
df_ville,df_object,capacity=parse_ttp_file("fnl4461_n44600_uncorr_10.ttp")

In [3]:
df_ville

         X     Y
1     5639  6909
2     5652  6142
3     5654  6101
4     5659  6910
5     5659  6920
...    ...   ...
4457  9140  6830
4458  9143  6779
4459  9158  6901
4460  9166  6932
4461  9176  6953

[4461 rows x 2 columns]

In [4]:
df_object

       Profit  Weight  City_Index
1         119       1           2
2         187     896           3
3         997     367           4
4          22     690           5
5         347     613           6
...       ...     ...         ...
44596     685     706        4457
44597     585      55        4458
44598     103     327        4459
44599      26     651        4460
44600     513     690        4461

[44600 rows x 3 columns]

In [5]:
pi,obj_pris,poids_tot,dict_ville_objet_pris=algo_glouton(df_ville,df_object,capacity)

Loading: 100%|█████████▉| 20244075/20244159 [2:29:06<00:00, 2262.78weight unit/s, Current Weight=2.02e+7, Nb_ville=4118]

In [6]:
pi

[1,
 635,
 261,
 1471,
 1606,
 1455,
 1855,
 2314,
 2375,
 2303,
 2221,
 3251,
 2796,
 2949,
 2742,
 2589,
 2678,
 2657,
 4454,
 4456,
 4416,
 4437,
 4444,
 4431,
 4430,
 4406,
 4396,
 4371,
 4283,
 3887,
 4140,
 4142,
 4180,
 4216,
 4199,
 4156,
 4091,
 4116,
 4157,
 3852,
 3813,
 3837,
 3866,
 4005,
 3570,
 3648,
 4297,
 4208,
 4194,
 4125,
 4160,
 4114,
 4033,
 3979,
 3894,
 3835,
 3839,
 3996,
 4099,
 4189,
 4210,
 4232,
 4196,
 4179,
 4296,
 4331,
 4378,
 4344,
 4336,
 4307,
 4310,
 4376,
 4340,
 4251,
 4295,
 4262,
 4136,
 3949,
 3962,
 3888,
 3451,
 3120,
 3101,
 3117,
 3179,
 3147,
 3096,
 2988,
 3027,
 1966,
 1833,
 230,
 250,
 301,
 860,
 913,
 1139,
 1152,
 1082,
 1105,
 1029,
 451,
 407,
 7,
 10,
 134,
 121,
 68,
 58,
 50,
 104,
 53,
 44,
 214,
 338,
 606,
 693,
 719,
 797,
 731,
 744,
 683,
 627,
 392,
 395,
 385,
 553,
 651,
 629,
 590,
 970,
 1097,
 1408,
 1485,
 1581,
 2001,
 2620,
 2565,
 2502,
 2233,
 2362,
 2449,
 2410,
 2382,
 2332,
 2280,
 2216,
 2151,
 2078,
 2033,
 1915,
 1889,
 2066,
 2243,
 2440,
 2372,
 2521,
 2542,
 2631,
 2662,
 2703,
 2781,
 2936,
 3018,
 3011,
 2909,
 2910,
 2834,
 2764,
 2728,
 2863,
 2759,
 2383,
 2335,
 2289,
 2323,
 2593,
 2528,
 3126,
 2953,
 2914,
 2821,
 2729,
 2508,
 2567,
 2527,
 2485,
 2226,
 1906,
 1671,
 1783,
 1815,
 2052,
 2160,
 2201,
 2390,
 2488,
 2529,
 2573,
 2660,
 2783,
 2883,
 2943,
 3033,
 3213,
 3258,
 3482,
 3697,
 3692,
 3722,
 3641,
 3714,
 3756,
 3652,
 3728,
 3790,
 3675,
 3611,
 3681,
 3558,
 3485,
 3365,
 3404,
 3346,
 3285,
 3210,
 3080,
 3103,
 2998,
 2927,
 2875,
 2861,
 2959,
 3118,
 3141,
 3171,
 3409,
 3370,
 3488,
 3623,
 3628,
 3557,
 3547,
 3247,
 3135,
 3104,
 3045,
 3007,
 2922,
 2859,
 2931,
 2967,
 3151,
 3167,
 3280,
 3314,
 3402,
 3442,
 3472,
 3432,
 3505,
 3534,
 3593,
 3662,
 3656,
 3598,
 3568,
 3617,
 3673,
 3724,
 3723,
 3868,
 4029,
 2752,
 3736,
 3533,
 3553,
 3337,
 3201,
 3374,
 3401,
 2841,
 2696,
 2321,
 1499,
 1118,
 1289,
 1241,
 1168,
 1069,
 1202,
 1128,
 1012,
 824,
 855,
 889,
 1087,
 672,
 795,
 706,
 819,
 1326,
 1423,
 2195,
 1971,
 2018,
 2083,
 2008,
 2017,
 2099,
 2155,
 2454,
 2566,
 2904,
 2835,
 2882,
 2799,
 2552,
 2626,
 2852,
 2833,
 2261,
 2238,
 2347,
 2311,
 2168,
 2262,
 2586,
 2640,
 2877,
 3418,
 3633,
 3710,
 3985,
 3977,
 3878,
 3961,
 3908,
 3856,
 3818,
 3687,
 3535,
 3324,
 3216,
 3164,
 3088,
 3004,
 3242,
 3316,
 3569,
 3468,
 3640,
 3626,
 3747,
 3805,
 3934,
 3913,
 3974,
 3886,
 4001,
 4075,
 4041,
 4139,
 4122,
 4015,
 3944,
 3932,
 3914,
 3938,
 3748,
 3702,
 3400,
 3430,
 3536,
 3582,
 3548,
 3165,
 3108,
 3191,
 3008,
 2957,
 2965,
 3072,
 3406,
 3479,
 3399,
 3441,
 3463,
 3477,
 3566,
 3665,
 3541,
 3581,
 3596,
 3465,
 3417,
 3323,
 3410,
 3474,
 3499,
 2992,
 3087,
 3170,
 2944,
 2993,
 3046,
 3200,
 3288,
 3299,
 3397,
 3204,
 3310,
 3313,
 3367,
 3237,
 3176,
 3196,
 1771,
 1593,
 1479,
 1342,
 1220,
 1114,
 1090,
 960,
 868,
 1263,
 1356,
 1532,
 1430,
 1450,
 533,
 655,
 509,
 362,
 336,
 519,
 558,
 885,
 1044,
 1000,
 1145,
 1478,
 1700,
 1794,
 1691,
 1614,
 1354,
 1414,
 1417,
 1502,
 1633,
 1704,
 1735,
 1733,
 1854,
 1918,
 2069,
 1984,
 1882,
 1949,
 2004,
 1992,
 2157,
 2360,
 2516,
 2543,
 2536,
 2607,
 2970,
 3029,
 3264,
 3309,
 3384,
 3366,
 3395,
 3356,
 3245,
 3278,
 3286,
 3193,
 2868,
 2937,
 2921,
 2804,
 2613,
 2574,
 2624,
 2486,
 2428,
 2220,
 2152,
 2085,
 1972,
 1723,
 1644,
 1566,
 1538,
 1291,
 1292,
 1123,
 1141,
 1195,
 1219,
 1668,
 1703,
 1553,
 1520,
 1548,
 1380,
 1294,
 1249,
 1393,
 1474,
 1492,
 1536,
 1635,
 1824,
 1867,
 1871,
 1995,
 1914,
 1978,
 1994,
 2013,
 1780,
 1848,
 1888,
 1670,
 1454,
 1465,
 1255,
 1232,
 1283,
 1298,
 1341,
 1431,
 1535,
 1523,
 1439,
 1400,
 1460,
 1461,
 1379,
 1301,
 1278,
 1034,
 937,
 643,
 738,
 560,
 447,
 422,
 390,
 329,
 255,
 173,
 176,
 139,
 168,
 197,
 231,
 54,
 135,
 119,
 154,
 216,
 188,
 205,
 171,
 183,
 244,
 292,
 315,
 252,
 273,
 246,
 335,
 328,
 241,
 271,
 293,
 520,
 426,
 377,
 310,
 242,
 217,
 157,
 192,
 258,
 257,
 299,
 332,
 61,
 34,
 16,
 4,
 5,
 111,
 83,
 112,
 122,
 108,
 77,
 96,
 84,
 63,
 59,
 21,
 22,
 18,
 33,
 76,
 89,
 181,
 175,
 145,
 133,
 137,
 56,
 45,
 66,
 70,
 87,
 65,
 31,
 11,
 3,
 55,
 92,
 86,
 97,
 113,
 82,
 100,
 101,
 449,
 435,
 360,
 367,
 308,
 281,
 266,
 586,
 506,
 396,
 394,
 393,
 544,
 527,
 525,
 508,
 456,
 413,
 339,
 348,
 371,
 929,
 981,
 865,
 926,
 963,
 947,
 951,
 822,
 890,
 828,
 1005,
 1065,
 965,
 980,
 940,
 1010,
 1030,
 1027,
 853,
 769,
 688,
 641,
 715,
 777,
 794,
 816,
 873,
 886,
 977,
 1170,
 1340,
 1384,
 1467,
 1421,
 1367,
 1388,
 1385,
 1317,
 1422,
 1452,
 1863,
 1922,
 1836,
 1835,
 1961,
 1955,
 1842,
 1793,
 1758,
 1694,
 1582,
 1510,
 1508,
 1398,
 1429,
 1503,
 1462,
 1526,
 1571,
 1738,
 1798,
 1831,
 1899,
 1964,
 2036,
 2150,
 2130,
 2098,
 1998,
 1936,
 1917,
 1884,
 1796,
 1759,
 1777,
 1555,
 1383,
 1237,
 1171,
 1271,
 1374,
 1435,
 1505,
 1561,
 1438,
 1411,
 1368,
 1248,
 1199,
 1021,
 707,
 770,
 835,
 823,
 820,
 652,
 588,
 612,
 806,
 696,
 784,
 756,
 840,
 969,
 802,
 798,
 517,
 577,
 661,
 645,
 685,
 747,
 763,
 708,
 697,
 505,
 523,
 1059,
 1182,
 1246,
 1109,
 1113,
 1196,
 1158,
 1063,
 1119,
 1251,
 1310,
 1275,
 1242,
 1206,
 1386,
 1174,
 1064,
 1003,
 943,
 871,
 575,
 528,
 494,
 363,
 318,
 408,
 333,
 282,
 406,
 463,
 434,
 387,
 365,
 349,
 432,
 496,
 626,
 768,
 785,
 1410,
 1487,
 1698,
 1826,
 2024,
 1847,
 1927,
 2016,
 2040,
 2026,
 2145,
 2039,
 2320,
 2470,
 2326,
 2604,
 2580,
 2693,
 2778,
 2735,
 2776,
 2725,
 2435,
 2461,
 2297,
 2416,
 2442,
 2464,
 2611,
 2614,
 2539,
 2618,
 2683,
 2469,
 2473,
 2396,
 2276,
 2020,
 2048,
 1953,
 2000,
 2056,
 2010,
 1926,
 1875,
 1809,
 1932,
 2028,
 2067,
 2090,
 2285,
 2452,
 2503,
 2545,
 2648,
 2793,
 2842,
 2870,
 2893,
 3055,
 3090,
 3086,
 3105,
 2945,
 2981,
 2872,
 2844,
 2851,
 2843,
 2751,
 2820,
 3022,
 2975,
 3009,
 3052,
 3127,
 3234,
 3344,
 3424,
 3454,
 3380,
 4036,
 4094,
 4061,
 3998,
 4050,
 4115,
 4213,
 4214,
 4190,
 4238,
 4293,
 4305,
 4275,
 4241,
 4226,
 4153,
 4168,
 4155,
 4129,
 3982,
 3925,
 3916,
 3987,
 4151,
 4164,
 4197,
 4245,
 4273,
 4271,
 4277,
 3893,
 3959,
 3964,
 3931,
 3973,
 3940,
 3904,
 3811,
 3809,
 3779,
 3751,
 3806,
 3829,
 3846,
 3967,
 3937,
 3731,
 3602,
 3591,
 3630,
 3480,
 3437,
 3422,
 3320,
 3145,
 3149,
 3181,
 3241,
 3059,
 3006,
 2902,
 2854,
 2609,
 2325,
 2110,
 1709,
 1672,
 1650,
 1701,
 1804,
 1805,
 1865,
 1973,
 1988,
 2073,
 2054,
 2088,
 1934,
 1962,
 1963,
 1908,
 1707,
 1580,
 1437,
 1433,
 1307,
 1375,
 1312,
 1256,
 1190,
 872,
 789,
 698,
 767,
 762,
 619,
 559,
 681,
 729,
 863,
 924,
 936,
 915,
 859,
 1007,
 ...]

In [7]:
def eval_non_lin(pi,df_ville,df_object,dict_ville_objet_pris):
    v_max=1
    v_min=0.1
    w=(v_max-v_min)/capacity
    benefice=0
    for i in range(len(list(df_object.index))):
        benefice=benefice+df_object.iloc[i]["Profit"]*obj_pris[i]

    cout=0
    poids=0
    for i in range(1,len(pi)):
        distance=calcul_distance_de_ville(pi[i-1],df_ville)[pi[i]]
        cout=cout+distance/(v_max-poids*w)
        list_objet_i_pris=dict_ville_objet_pris[pi[i]]
        for index in list_objet_i_pris:
            poids=poids+df_object.iloc[index-1]["Weight"]

    distance=calcul_distance_de_ville(pi[-1],df_ville)[1]

    cout=cout+distance/(v_max-poids*w)


    return benefice-cout

In [8]:
eval_non_lin(pi,df_ville,df_object,dict_ville_objet_pris)

19477993.054394066

In [9]:
def eval_lin(pi,df_ville,df_object,dict_ville_objet_pris):
    benefice=0
    for i in range(len(list(df_object.index))):
        benefice=benefice+df_object.iloc[i]["Profit"]*obj_pris[i]

    cout=0
    poids=0
    for i in range(1,len(pi)):
        distance=calcul_distance_de_ville(pi[i-1],df_ville)[pi[i]]
        cout=cout+distance*poids
        list_objet_i_pris=dict_ville_objet_pris[pi[i]]
        for index in list_objet_i_pris:
            poids=poids+df_object.iloc[index-1]["Weight"]

    distance=calcul_distance_de_ville(pi[-1],df_ville)[1]

    cout=cout+distance*poids


    return benefice-cout

In [10]:
eval_lin(pi,df_ville,df_object,dict_ville_objet_pris)

-4080808188675.363